.UserPage {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}

.UserHeader {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.UserHeader::after {
    content: ' ';
    display: flex;
    width: 700px;
    height: 2px;
    margin-top: 10px;
    background: rgb(24, 24, 24);

}

.InitialHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(68, 68, 68, 0.979);
    font-size: 15px;

}

.BackButton {
    margin-left: 400px;

}

.TextDiv {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.TextDiv::after {
    content: ' ';
    display: flex;
    width: 700px;
    height: 2px;
    margin-top: 5px;
    background: rgb(122, 122, 122);
    opacity: 0.5;

}

.Texts {
    margin-top: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(68, 68, 68, 0.979);
    font-size: 15px;
    font-weight: 500;

}


.ItensDiv {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.ItensDiv::after {
    content: ' ';
    display: flex;
    width: 700px;
    height: 2px;
    margin-top: 5px;
    background: rgb(122, 122, 122);
    opacity: 0.5;

}

.Itens {
    margin-top: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(68, 68, 68, 0.979);
    font-size: 15px;
    font-weight: 500;

}

.ItemText {
    width: 58px;

}

.ItemQuant {
    width: 42px;

}

.Request {
    margin-top: 5px;
    width: 25px;
    text-align: center;
    margin-right: 12px;
    border-width: 0px;
    background-color: white;

}


.Request:active {
    opacity: 0.5;

}

.Request:focus {
    outline: 0;

}

.Requests {
    height: 20px;
    align-self: flex-start;
    padding-top: 10px;
    margin-left: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: rgba(68, 68, 68, 0.979);

}

.RequestList {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

.RequestItem {
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.RequestName {
    margin-left: 5px;
    margin-right: 5px;

}

.Buttons { 
    margin-top: 3px;
    padding: 0px;
    width: 20px;
    text-align: center;
    border-width: 0px;
    background-color: white;

}

.Buttons:active {
    opacity: 0.5;

}

.Buttons:focus {
    outline: 0;

}

.CancelDiv {
    margin-top: 10px;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

.CancelButton {
    height: 30px;
    font-size: 15px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #E02041;
    border-style: none;
    border-radius: 3px;
    transition: opacity 0.5s;

}

.CancelButton:hover {
    opacity: 0.5;

}

.CancelButton:focus {
    outline: 0;

}